#tasks-container {
  width: 60%;
  margin: auto;
  margin-bottom: 36px;
}

#tasks-header h2{
  font-size: 1.5rem;
}

#task-items-overview {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#task-items-overview svg {
  width: 12px;
}
