<div header="Tasks" id="tasks-container">
    <div id="tasks-header">
        <h2>Tasks</h2>
    </div>
    <ul id="tasks-list">
        <!--<li *ngFor="let task of this.userTasksService.getTasks()">
            <app-task-item
                [description]="task.description"
                [priority]="task.priority"
                [dueDate]="task.dueDate"
                [occurrence]="task.occurrence">
            </app-task-item>
        </li>-->
    </ul>
    <div id="create-task">
        <p-button label="Create Task" (click)="openCreateTask()"></p-button>
    </div>
</div>
