<p-toolbar>
    <div class="p-toolbar-group-start">
        <p-button label="Daily" icon="" class="mr-2"></p-button>
        <p-button label="Weekly" icon="" class="mr-2"></p-button>
        <p-button label="Monthly"></p-button>
        <p-button label="One-Off"></p-button>
    </div>
    <div class="p-toolbar-group-end">
        <p-button label="Account"></p-button>
        <p-button label="Login"></p-button>
        <p-button label="Logout"></p-button>
        <p-button label="Register"></p-button>
    </div>
</p-toolbar>