<div>
  <header>
    <div id="header-img">
      <img src="assets/logo.png" alt="Taskmaster logo" />
    </div>
    <div class="card">
      <p-toolbar>
        <div id="nav-task-routes" class="p-toolbar-group-start">
          <a class="nav-item" id="nav-home" [routerLink]="['/']">
            <p-button label="Home" class="mr-2"></p-button>
          </a>
        </div>
        <div id="nav-account-routes" class="p-toolbar-group-end">
          <ng-container *ngIf="isAuthenticated$ | async; else loginContent">
            <p-button (click)="logout()">Logout</p-button>
          </ng-container>
          <ng-template #loginContent>
            <p-button routerLink="/login">Login</p-button>
          </ng-template>
        </div>
      </p-toolbar>
    </div>
  </header>
</div>
