<div>
    <div>
        <div>
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">{{ title }}</h1>
                <p class="text-xs-center">
                    <a [routerLink]="['/login']" *ngIf="authType == 'register'">Login as existing user</a>
                    <a [routerLink]="['/register']" *ngIf="authType == 'login'">Create an account</a>
                </p>

                <form [formGroup]="authForm" (ngSubmit)="submitForm()">
                    <fieldset class="form-group">
                        <input 
                            formControlName="email"
                            placeholder="Email"
                            class="form-control form-control-lg"
                            type="text" />
                    </fieldset>
                    <fieldset class="form-group">
                        <input 
                            formControlName="password"
                            id="password"
                            name="password"
                            placeholder="Password"
                            class="form-control form-control-lg"
                            required
                            type="password" />
                        <div
                            *ngIf="password?.invalid && (password?.dirty || password?.touched)"
                            class="alert alert-danger"
                        >
                            <div
                                *ngIf="password?.errors?.['required']"
                            >
                                Password is required.
                            </div>
                            <div
                                *ngIf="password?.errors?.['minlength']"
                            >
                                Password must be at least 13 characters long.
                            </div>
                            <div 
                                *ngIf="password?.errors?.['maxlength']"
                            >
                                Password must not exceed 64 characters.
                            </div>

                            <div 
                                *ngIf="password?.errors?.['lowercase']"
                            >
                                Password must include at least one lowercase letter.
                            </div>
                            <div 
                                *ngIf="password?.errors?.['uppercase']"
                            >
                                Password must include at least one uppercase letter.
                            </div>
                            <div 
                                *ngIf="password?.errors?.['number']"
                            >
                                Password must include at least one number.
                            </div>
                            <div 
                                *ngIf="password?.errors?.['special']"
                            >
                                Password must include at least one special character.
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <input 
                            formControlName="confirm-password"
                            placeholder="Confirm password"
                            class="form-control form-control-lg"
                            type="password" />
                    </fieldset>
                    <button class="btn btn-lg btn-primary" type="submit">
                        {{ title }}
                    </button>
                </form>
        </div>
    </div>
</div>
