<form 
    [formGroup]="taskForm">
    <div class="p-inputgroup">
        <label 
            for="task-description">
            Description
        </label>
        <input 
            id="task-description" 
            pInputTextArea 
            placeholder="Do a thing..."
            formControlName="description"/>
    </div>
    <div>
        <label 
            for="task-priority">
            Task Priority 
        </label>
        <p-dropdown 
            id="task-priority" 
            placeholder="Set the Priority"
            formControlName="priority"
            [options]="priorities">
        </p-dropdown>
    </div>
    <div>
        <label 
            for="task-due-date">
            Due Date 
        </label>
        <p-calendar 
            id="task-due-date" 
            dateFormat="dd.mm.yy" 
            [showIcon]="true"
            formControlName="dueDate">
        </p-calendar>
    </div>
    <div>
        <p-button 
            (onClick)="saveTask()"
            id="task-save"
            label="Save"
            [raised]="true"
            severity="success">
        </p-button>
        <p-button 
            id="task-cancel"
            label="Cancel"
            [raised]="true"
            severity="danger">
        </p-button>
    </div>
</form>