<div class="register-container">
    <h2 class="register-header">Sign Up</h2>
    <div class="register-form">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email: </label>
                <input id="email" type="email" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['username'].errors }"/>
                <div *ngIf="submitted && form['username'].errors" class="invalid-feedback">
                    <div *ngIf="form['username'].errors['required']">A valid email address is required!</div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="fname">First Name: </label>
                    <input id="fname" type="text" formControlName="fname" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['fname'].errors }"/>
                    <div *ngIf="submitted && form['fname'].errors" class="invalid-feedback">
                        <div *ngIf="form['fname'].errors['required']">A first name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lname">Last Name: </label>
                    <input id="lname" type="text" formControlName="lname" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['lname'].errors }"/>
                    <div *ngIf="submitted && form['lname'].errors" class="invalid-feedback">
                        <div *ngIf="form['lname'].errors['required']">A last name is required</div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['password'].errors }"/>
                    <div *ngIf="submitted && form['password'].errors" class="invalid-feedback">
                        <div *ngIf="form['password'].errors['required']">Password is required!</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirm Password: </label>
                    <input id="confirm-password" type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['confirmPassword'].errors }"/>
                    <div *ngIf="form['confirmPassword'].invalid && (form['confirmPassword'].dirty || form['confirmPassword'].touched)" class="invalid-feedback">
                        <div *ngIf="form['confirmPassword'].errors?.['required']">You must confirm your password!</div>
                        <div *ngIf="form['confirmPassword'].errors?.['passwordsMatchValidator']">Your passwords do not match!</div>
                    </div>
                </div>
            </div>

            <button [disabled]="loading" class="register-button">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
            </button>
        </form>
    </div>
</div>
